body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color : #888888;
    border-top: 1px solid lightgrey;
    margin-top: 16px;
    padding: 16px;

    
}

header {
    margin-top: 16 px;
    margin-bottom: 48px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
}
.portrait {
    width: 250px
}k

input {
    border: 1px solid #cccccc;
    padding: 18px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 18px;
}